django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
mysqlclient
Pillow
mysql-connector-python
requests
celery
redis
gunicorn
whitenoise
django-redis
django-celery-results
eventlet
flower
django-prometheus
pymongo
twilio
python-dotenv
reportlab
openpyxl